*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 500;
    background-color:#ccdef0;
    background-image: radial-gradient(circle 675px at center, #ffffff 0%, #ccdef0 100% );
}

.header {
    width: 100%;
    height: 900px;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.naw_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 90px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 1;
    color: #000000;
}

.logo span{
    color: #5abb33;
}
.nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__item{
     margin-right: 50px;
}

.nav__item:last-child{
    margin-right: 0;
}

.nav__link{
    color: #000000;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.header-content {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-desk {
   width: 500px;
    padding-top: 90px;
}

.header__title{
    color: #000000;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 35px;
    
}

.header__text{
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 35px;
}

.header__btn{
    display: inline-block;
    height: 65px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: #fadb60;
    background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);
    
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    
    line-height: 65px;
}

.header-photo {
    width: 670px;
}

.header-social {
       
} 

.header__social-item{
    font-size: 27px;
    color: #34383c;
    text-decoration: none;
    margin-right: 30px;
    padding-bottom: 80px;
}

.header__social-item:last-child{
    margin: 0;
}

.header__social-item:hover{
    opacity: 0.8;    
}

.footer {
    height: 114px;
    width: 100%;
    background-color: #232323;
    color: #fff;
    margin-top: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}

.footer:before {
    content: "";
    display: table;
}

.footer a {
   color: #fada5a;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
